<div id="form-container">
    
<form #myform = "ngForm" (submit) = "onSubmit(myform)">
    <div class="form-group">
      <label><strong>Title</strong></label>
      <input  type="text" [(ngModel)]="notes.title" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required placeholder="Enter a title">
    </div>
    <div class="form-group">
      <label><strong>Note</strong></label>
     <textarea [(ngModel)]="notes.body" name="body" class="form-control" required id="exampleInputEmail1" cols="30" rows="6"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" [disabled] = "!myform.valid" >Add</button>
  </form>

</div>
